@import 'variaveis';

*{
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}


#nav-img{
    width: 50px;
}

.msg{
    background-color: lightgreen;
    border: solid 2px green;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 0;
}

#banner-search{

    height: 70vh;
    background-image: url(../img/banner.jpg);
    background-size: cover;

    text-align: center;
    padding: 50px;

    h1{
        color: $primary-color;
        font-weight: 900;
    }
}

#event{

    span{
        position: absolute;
        background-color: black;
        color: $primary-color;
        padding: 3px;
        opacity: 0.7;

        border-radius: 5;
    }

    &:hover{
        span{
            opacity: 1;
            color: $secondary-color;
        }
    }
}

.btn-primary{ //botao
    background-color: $primary-color !important;
    border: solid 2px $secondary-color !important;

    &:hover{
        background-color: $secondary-color !important;
    }
}

//pag create event
#event-create-container{
    padding: 10px;

    label{
        font-weight: bold;
    }

    input, select, text-area{
        font-size: 12px;
    }
}

#info-container ion-icon{
    font-size: 20px;
    color:$primary-color;
    margin-right: 5px;
}

#items-list{
    list-style: none;
    padding-left: 0;

    li{
        display: flex;
    }
}

.img-preview{
    width: 200px;
    margin-top: 20px;
}

#form-bottom-container{
    width: 81%;
    display: flex;
    justify-content: space-between;

    ion-icon{
        color: $primary-color;
        margin-right: 5px;
    }
}

.already-joined-msg{
    margin:15px 0;
    color: black;
    background-color: $primary-color;
    border: 2px solid $secondary-color;
    text-align: center;
}

#footer{
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width: 1000px) {
    #footer{
        bottom: 0;
        position: absolute;
    }
}